.card{
  border-radius: 4px;
  height: 400px;
  width: calc(33% - 12px);
  background-color: #c6d3df;
  margin: 5px;
  box-shadow: 3px 3px 10px 0 rgba(58, 59, 69, 0.15);
  font-size: 14px;
  &-title {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    .left {
      text-align: left;
      display: flex;
      align-items: center;
      .tip-dot {
        height: 9px;
        width: 18px;
        background: #7c260b;
        margin: 0 10px;
        }
      }
    }
  }
.charBox {
  width: 100%;
  height: 400px;
}
:deep(.el-button--info) {
  border-color: #014D64!important;
  background: #014D64!important;
  padding: 2px;
  margin-left: 5px;
  font-size: 12px;
}
:deep(.el-button--primary){
  border-color: #01a2d9!important;
  background: #01a2d9!important;
  padding: 2px;
  margin-left: 5px;
  font-size: 12px;
}
@media screen and ( max-width: 1200px ) {
  .card {
    width: calc(50% - 26px);
  }
}
@media screen and ( max-width: 500px ) {
  .card {
    width: calc(100% - 26px);
  }
}