.search-box {
  width: 100%;
  background: #2c2d31;
}
.height {
  min-height: 80px;
  padding: 10px;
}
.maxHeight {
  height: 0px;
  overflow: hidden;
}
.search-box-bottom {
  background: #2d3340;
  width: 100%;
  height: 25px;
}
.pane-input {
  margin-bottom: 8px;
  margin-left: 15px;
  align-items: center;
  color: #fff;
  font-size: 12px;
  .input {
    align-items: center;
    margin-left: 8px;
  }
}
.pane-bottom {
  padding-right: 25px;
  text-align: right;
  color: #ebebeb;
  font-size: 13px;
  line-height: 25px;
  display: flex;
}
.form :deep(.el-form-item__label), :deep(.el-form-item__content), :deep(.el-checkbox__label),:deep(.el-radio__label){
  color: #fff;
}
:deep(.el-radio__input.is-checked+.el-radio__label), :deep(.el-checkbox__input.is-checked+.el-checkbox__label){
  color: var(--system-primary-color)!important;
  
}
:deep(.el-radio__input.is-checked .el-radio__inner), :deep(.el-checkbox__input.is-checked .el-checkbox__inner), :deep(.el-button--success),:deep(.el-checkbox__input.is-indeterminate .el-checkbox__inner){
  border-color: var(--system-primary-color)!important;;
  background: var(--system-primary-color)!important;
}